<div class="example-full-width box">
  <label>kilometer</label>
  <input

    type="text"
    name="km"
    (ngModelChange)="kmChanged($event)"
    placeholder="kilometer"
    [(ngModel)]="kiloMeter"
    />
  </div>
  <div class="example-full-width box">
    <label>meter</label>

    <input

      type="text"
      name="m"
      (ngModelChange)="mtrChanged($event)"
      placeholder="meter"
      [(ngModel)]="meter"
      />
    </div>
    <div class="example-full-width box">
      <label>centi meter</label>

      <input

        type="text"
        name="cm"
        (ngModelChange)="cmChanged($event)"
        placeholder="centi meter"
        [(ngModel)]="centiMetr"
        />
      </div>
      <div class="example-full-width box">
        <label>mili meter</label>

        <input

          type="text"
          name="mm"
          (ngModelChange)="mmChanged($event)"
          placeholder="mili meter"
          [(ngModel)]="miliMetr"
          />
        </div>
        <div class="example-full-width box">
          <label>Decimetre</label>

          <input

            type="text"
            name="dm"
            (ngModelChange)="decaChanged($event)"
            placeholder="Decimetre"
            [(ngModel)]="decaMetr"
            />
          </div>
          <div class="example-full-width box">
            <label>microMetr</label>

            <input

              type="text"
              name="um"
              (ngModelChange)="microChanged($event)"
              placeholder="micro meter"
              [(ngModel)]="microMetr"
              />
            </div>
            <div class="example-full-width box">
              <label>nanoMetr</label>

              <input

                type="text"
                name="nm"
                (ngModelChange)="nanoChanged($event)"
                placeholder="nano meter"
                [(ngModel)]="nanoMetr"
                />
              </div>
              <div class="example-full-width box">
                <label>mile</label>

                <input

                  type="text"
                  name="mile"
                  (ngModelChange)="mileChanged($event)"
                  placeholder="mile"
                  [(ngModel)]="mile"
                  />
                </div>
                <div class="example-full-width box">
                  <label>yard</label>

                  <input

                    type="text"
                    name="yd"
                    (ngModelChange)="yardChanged($event)"
                    placeholder="yard"
                    [(ngModel)]="yard"
                    />
                  </div>
                  <div class="example-full-width box">
                    <label>foot</label>

                    <input

                      type="text"
                      name="foot"
                      (ngModelChange)="footChanged($event)"
                      placeholder="foot"
                      [(ngModel)]="foot"
                      />
                    </div>
                    <div class="example-full-width box">
                      <label>inch</label>

                      <input

                        type="text"
                        name="inch"
                        (ngModelChange)="inchChanged($event)"
                        placeholder="inch"
                        [(ngModel)]="inch"
                        />
                      </div>

                      <div class="example-full-width box">
                        <label>sq. km</label>

                        <input

                          type="text"
                          name="sq.km"
                          (ngModelChange)="sqkmChanged($event)"
                          placeholder="sq. km"
                          [(ngModel)]="sqkilometer"
                          />
                        </div>
                        <div class="example-full-width box">
                          <label>sqmetr</label>

                          <input

                            type="text"
                            name="sqm"
                            (ngModelChange)="sqmChanged($event)"
                            placeholder="square meter"
                            [(ngModel)]="sqmetr"
                            />
                          </div>
                          <div class="example-full-width box">
                            <label>square mile</label>

                            <input

                              type="text"
                              name="sqmile"
                              (ngModelChange)="sqmileChanged($event)"
                              placeholder="square mile"
                              [(ngModel)]="sqmile"
                              />
                            </div>
                            <div class="example-full-width box">
                              <label>Gaj or Sqaure Yard</label>

                              <input

                                type="text"
                                name="sqyd"
                                (ngModelChange)="sqydChanged($event)"
                                placeholder="Gaj or Sqaure Yard "
                                [(ngModel)]="sqyard"
                                />
                              </div>
                              <div class="example-full-width box">
                                <label>square foot</label>

                                <input

                                  type="text"
                                  name="cm"
                                  (ngModelChange)="sqfootChanged($event)"
                                  placeholder="square foot"
                                  [(ngModel)]="sqft"
                                  />
                                </div>
                                <div class="example-full-width box">
                                  <label>square inch</label>

                                  <input

                                    type="text"
                                    name="sqinch"
                                    (ngModelChange)="sqinchChanged($event)"
                                    placeholder="square inch"
                                    [(ngModel)]="sqinch"
                                    />
                                  </div>
                                  <div class="example-full-width box">
                                    <label>acres</label>

                                    <input

                                      type="text"
                                      name="acre"
                                      (ngModelChange)="acreChanged($event)"
                                      placeholder="acres"
                                      [(ngModel)]="acre"
                                      />
                                    </div>
                                    <div class="example-full-width box">
                                      <label>hectare</label>

                                      <input

                                        type="text"
                                        name="hec"
                                        (ngModelChange)="hectareChanged($event)"
                                        placeholder="hectare"
                                        [(ngModel)]="hectare"
                                        />
                                      </div>

                                      <div class="tbl">
                                        <table id="customers">
                                          <tr>
                                            <th>name</th>
                                            <th>weight</th>
                                            <th>symbol</th>
                                            <th>About</th>
                                          </tr>
                                          @for (i of ELEMENT_DATA; track i) {
                                            <tr>
                                              <td>{{ i.name }}</td>
                                              <td>{{ i.weight }}</td>
                                              <td>{{ i.symbol }}</td>
                                              <td>{{ i.desc }}</td>
                                            </tr>
                                          }
                                        </table>
                                      </div>
